body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    background-color:rgba(12, 12, 20, 0.9);
    color: aquamarine;
    font-size: 1.3vw;
    font-weight:lighter;
}

a{
    text-decoration: none;
}

header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.7em;
}

header ul{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

li{
    display:inline-block;
    padding-inline: 1em;
}

.topnav .icon {
  visibility: hidden;
  color: rgba(127, 255, 212, 0.5);;
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 1em;
    }
    header li:not(:last-child){
        visibility: hidden;
    }
    .topnav .icon{
        visibility: visible;
        position: relative;
    }
    header ul{
        flex-wrap: nowrap;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
    }
    .topnav.responsive{
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        z-index: 2;
    }
    .topnav.responsive li{
        visibility: visible;
    }
    .prof p{
        text-align: center;
    }
    .prof ul{
        transform: translateX(-10%);
    }
    #langs{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .main>h1{
        transform: translateY(1em);
    }
    .alexcontainer{
        grid-row: 1 / 1;
        margin-left: 15%;
        width: 150%;
    }
    #second, #third{
        grid-column: 1 / 3;
    }
    .profile{
        margin-top: 30%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    .tooltip .tooltiptext{
        visibility: hidden;
        width: 100%;
        background-color: black;
        color: aquamarine;
        text-align: center;
        padding: 5%;
        border-radius: 12px;
        position: absolute;
        top: -10%;
        left: 85%;
        transform: scale(0);
        transition: transform ease-out 150ms;
    }
    #it h2{
        text-align: center;
    }
    .about-container h2{
        font-size: 1em;
    }
}

.btn{
    font-size: smaller;
    border-radius: 15px;
    padding: 1vh;
    background-color:rgb(65, 65, 65);
    color: aquamarine;
    box-shadow: 0 0.3em 10px 0 rgb(82, 82, 82);
    transition: 0.4s;
}

.btn:hover{
    background-color: rgb(88, 88, 88);
}

.btn:focus{
    background-color: rgb(88, 88, 88);
}

.btn:active{
    background-color: grey;
    transform: translateY(4px);
}

.main>h1{
    text-align: center;
    font-size: 2.3em;
    transition: 2s ease;
    transition-delay: 0.5s;
    margin-bottom: 12vw;
    font-family: 'Roboto Mono', monospace;
}

@media only screen and (min-width: 600px){
    .main>h1{
        transform: translateY(2.5em);
    }
    .profile{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }
    .alexcontainer{
        grid-row: 1 / 5;
        margin-left: 15%;
    }
    #third{
        grid-row: 5 /6;
        grid-column: 2 / 3;
        animation: rightfloat 0.5s ease-out 3s forwards;
    }
    #langs{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto;
        justify-items: center;
        justify-content: center;
    }
    .tooltip .tooltiptext{
        visibility: hidden;
        width: 100%;
        background-color: black;
        color: aquamarine;
        text-align: center;
        padding: 5%;
        border-radius: 12px;
        position: absolute;
        top: 110%;
        right: 0.5%;
        transform: scale(0);
        transition: transform ease-out 150ms;
    }
    #it{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
        justify-items: center;
        align-items: center;
    }
}



#alex{
    width: 65%;
    height: auto;
    border-radius: 100%;
    animation: float 3s infinite ease-in-out;
}

@keyframes float {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(7%);
    }
    100%{
        transform: translateY(0%);
    }
}

.profile{
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;*/
    text-align: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}



#first, #second, #third{
    opacity: 0;
    left: 12%;
    margin-left: 10vw;
    width:60%;
    transform: translateX(50%);
    animation: rightfloat 0.5s ease-out 2s forwards;
}

@keyframes rightfloat {
    to{
        opacity: 1;
        transform: translateX(15%);
    }
}

#second{
    animation: rightfloat 0.5s ease-out 2.5s forwards;
}

.prof{
    color: aquamarine;
    background-image: url(/docs/codingwallpaper.jpg);
    background-size:cover;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-shadow: black 0px 0px 1px;
}


.inglese{
    /*animation:colorchange 5s infinite alternate;*/
    color: red;
    text-shadow:  0px 0px 2px blue;
}

.tooltip{
    position: relative;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  transform: scale(1);
}

.competenze{
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.3em;
    margin: 3%;
    text-align: center;
}

#it{
    color: aquamarine;
    background-image: url(/docs/rogwallpaper.jpg);
    background-size:cover;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 12px;
}

.it-parent{
    grid-column: 1 / 4;
    animation:sizechange 4s infinite;
    font-weight: bold;
    margin: 5%;
    font-size: 1.3em;
    font-family: 'Roboto Mono', monospace;
}

@keyframes sizechange {
    0%      {transform:scale(1);}
    50%     {transform:scale(1.2);}
    100%    {transform:scale(1);}
}


#it li{
    background-color: rgba(130, 130, 130, 0.5);
    border-radius: 0.5em;
    font-size: smaller;
    text-shadow: black 0px 5px 5px;
    padding-inline: 0.7em;
    margin: 5%;
    padding: 5%;
    text-align: center;
}

#lastgrid{
    grid-column: 2 / 3;
}

.underline{
    animation: state 1s infinite linear;
}

@keyframes state {
    0%  {opacity: 1;}
    50% {opacity: 0;}
    100%    {opacity: 1;}    
}

.about-container{
    margin:  5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Roboto Mono', monospace;
}

.about{
    width: 70%;
}

form{
    margin-top: 5%;
}

.form-control{
    width: 65%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid goldenrod;
    color: aquamarine;
    font-size: 1em;
    margin-bottom: 5%;
}

input{
    height: 100%;
    font-size: 1em;
}

form .submit{
    background: rgba(255, 0, 0, 0.75);
    border-color: transparent;
    color: aquamarine;
    border-radius: 4px;
    font-size: 1em;
}

form .submit:hover{
    background-color: rgba(255, 0, 0);
    cursor: pointer;
}

form .submit:focus{
    background-color: rgba(255, 0, 0);
}

.social{
    width: 30%;
}

.facebook{
    width:1.5em;
    padding-left: 3%;
    padding-right: 3%;
}

.instasocial{
    width:1.5em;
    padding-left: 3%;
    padding-right: 3%;
}

.linked{
    width:1.5em;
    padding-left: 3%;
    padding-right: 3%;
}

footer{
    background-color: black;
    padding-left: 1%;
    padding-top: 0.5%;
    color: rgba(127, 255, 212, 0.5);
    font-size: smaller;
}
